body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover{
    transform: scale(1.05); 
}

/*=============== 
    HEADER
================= */
header{
    background-color: rgba(27, 156, 195, 1);
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;

}

#nombre-y-barra{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

#logo{
    padding-left: 2%;
}

#logo a{
    text-decoration: none;   
    color: inherit;   
}

#carrito{
    padding-right: 2%;
}


/*=============== 
    SECCION PRODUCTOS
================= */
.card-producto img{
    width: 40%;
    height: 40%;
}

.card-producto{
    border: 0.5px solid rgb(200, 197, 197);
    margin: 3%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    justify-items: center;
     /* espacio entre cards */
    padding: 30px
}

#boton-productos{
    height: 45px;
    border: none;
    border-radius: 4px;
    background-color:rgba(27, 156, 195, 1);
    color: white;
    margin-bottom: 5%;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/*=============== 
    CARRITO
================= */
#carrito a{
    text-decoration: none;   
    color: inherit; 
}

.bloque-item{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#contenedor-nombre-item{
    width: 500px;
    display: flex;
    justify-content: baseline;
}



.boton-eliminar{
    background-color: rgba(27, 156, 195, 1);
    border: none;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    color: white;
    height: 45px;
}

#precio-y-vaciar{
    display: flex;
    justify-content: space-between;
}

#vaciar-carrito{
    background-color: rgba(27, 156, 195, 1);
    border: none;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    color: white;
    margin: 1%;
    height: 45px;
}

#btn-comprar{
    background-color: rgba(27, 156, 195, 1);
    border: none;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    color: white;
    margin: 1%;
    height: 45px;
}

.precio{
    display: flex;
    justify-content: end;
    padding-right: 2%;
}