<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <main>
        <h1>Crear producto</h1>
        <hr>
        
        <form id="altaProducts-form">
        
            <label for="nameProd">Nombre</label>
            <input type="text" name="name" id="nameProd" required>
        
            <label for="imageProd">Url imagen</label>
            <input type="text" name="image" id="imageProd" required>
        
            <label for="priceProd">Precio</label>
            <input type="number" name="price" id="priceProd" required>
        
            <br>
            <input type="submit" value="Crear producto">
        </form>

        <hr>

        <h2>Alta Usuarios</h2>
        <form id="altaUsers-container">
    
            <label for="correoUser">Correo</label>
            <input type="email" name="correo" id="correoUser" required>
    
            <label for="passwordUser">Password</label>
            <input type="password" name="password" id="passwordUser" required>
    
            <br>
            <input type="submit" value="Crear usuario">
        </form>
        
        <div id="contenedor-productos"></div>
    </main>

<script src="js/crear.js"></script>

<%- include("partials/footer.ejs") %>