<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <main>
        <div id="contenedor-productos">
            <ul id="lista-productos"></ul>
        </div>
    </main>

<script src="js/index.js"></script>

<%- include("partials/footer.ejs") %>