/*================
    General
================*/
body{
    background-color: rgb(23, 23, 83);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: none;
    margin: 0;
    padding: 0;
    color: white;
}

ul {
    padding-left: 0;
}

/*============
    main
==============*/
main {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;
}

input[type="submit"]:hover{
    background-color:rgba(27, 156, 195, 1);
    color: white;
}

input[type="submit"]{
    background-color: rgba(27, 156, 195, 1);
    color: white;
} 

input[type="button"]:hover{
    background-color:rgba(27, 156, 195, 1);
    color: white;
}

input[type="button"]{
    background-color: rgba(27, 156, 195, 1);
    color: white;
} 





/*================
    Encabezado
================*/
header {
    width: 100%;
    background-color: rgba(27, 156, 195, 1);
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

nav ul li a {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
}

#btn-cerrar-cesion{
    background-color: rgb(23, 23, 83);
    color: white;
}


/*===================
    Cartas productos
=====================*/
#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#lista-productos{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

#lista-productos li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
    margin-top: 10%;
    font-size: 12px;
    text-align: center;
}

#lista-productos li p{
    margin-bottom: 0;
}

#lista-productos li img{
    display: flex;
    justify-content: center;
    height: 60%;
    width: 60%;
}

/*=========== 
Formulario ingreso
=============*/
#login-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    width: 100%;
    gap: 10px;
}