<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Racing</title>

    <link rel="stylesheet" href="/frontendProyecto/css/style.css">
    <script defer src="/frontendProyecto/js/carrito.js"></script>

</head>
<body>

    <header>

        <div id="logo">
            <a href="shop.html">
                <h3>RopaRacing</h3>
            </a>
        </div>

        <div id="nombre-y-barra">
            <div id="nombre"></div>
            <div>
                <div>
                <input type="text" id="barra-busqueda" placeholder="Buscar...">
                </div>
            </div>
        </div>

        <div id="carrito">
            <a href="carrito.html">
                <h5 id="carrito-texto">Carrito: </h5>
            </a>
        </div>
    </header>

    <main>
        <main>
        <section id="contenedor-productos">

        </section>
        <hr>
        <section id="contenedor-carrito">

        </section>

    </main>

    <footer>
    </footer>

</body>
</html>