<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingreso - RopaRacing</title>
    <link rel="stylesheet" href= "/frontendProyecto/css/inicio.css">
    <script defer src="/frontendProyecto/js/inicio.js"></script>
</head>
<body>
    <main class="inicio">
        <div id="contenedor-formulario">
            <h1>Bienvenido a la Tienda Racing</h1>
            <form id="form-nombre">
                <label for="nombre">Ingresá tu nombre:</label>
                <input type="text" id="nombre" placeholder="Tu nombre" required>
                <button id="boton-ingresar" type="submit">Entrar</button>
            </form>
        </div>
        <div id="contenedor-foto">

        </div>
    </main>

</body>
</html>